<div class="">
    <div class="content">      
      <h2>Support plans available </h2>
    </div>
    
    <div class="content ">    
      <h3>Our support plan includes</h3>
      <p>
        <strong>150</strong> webhooks per month with end-to-end encryption and <strong>1</strong> bidirectional HTTP tunnel. It's perfect for:
        <ul class="features">              
          <li>Integrate with <a href="https://keel.sh" rel="noopener">Keel</a> to automate infrastructure updates</li>
          <li>Use with Jenkins to automate builds</li>
          <li>Quick demo of your websites</li>
          <li>Test your app with relayed webhooks</li>
        </ul>
      </p>
    </div>
  
    <div class="content">    
      <h3>FAQ</h3>
      <p><h4>When do I need to run Webhook Relay agent locally?</h4></p>
      <p>A webhook Relay agent is required only for internal webhook destinations. If you are just proxying webhooks or doing a fan-out to multiple
          public destinations, no agent is required.
      </p>
      <p><h4>What happens when I reach the webhooks limit on a free plan?</h4></p>
      <p>
          When you reach your monthly quota on a free plan, incoming webhooks will be rejected. You should follow your usage and if you believe that you can
          reach the limit, consider upgrading to a paid subscription. Lost webhooks due to quota limit can't be recovered.
      </p>
      <p><h4>How are webhooks counted?</h4></p>
      <p>A webhook is an incoming request that is sent to one or more destinations. We count webhooks based on how many
          destinations it was dispatched to. It doesn't matter how many retries were done for a failed webhook, it will still
          count as one. 
      </p>
      <p><h4>What happens if I go over my plan's webhooks limit?</h4></p>
      <p>All paid plans (excluding the free one) will allow you to continue using the service even if you go over to allocated webhooks.
          Each plan has a defined overage rate that will be billed automatically the following month. If you see that you might go over the limit 
          you can change your plan and the quota changes will be applied immediately.
      </p>
    </div>
  
    <div class="content ">    
      <h2>Need a custom plan or dedicated server?</h2>
      <p>We can setup custom plans to better suit your enterprise, 
      <a href="mailto:info@webhookrelay.com?Subject=Custom%20plan%20enquiry">email us for pricing</a>.
      </p>
    </div>
  </div>
  